#bar-card-name {
position: absolute;
font-size: 40px;
}

#bar-address-name {
position: absolute;
bottom: 40px;
font-size: 12px;
}

#bar-reservation-details{
position: absolute;
bottom: 20px;
font-size: 18px;
}

