#parent {
  background-color: black;
}

#child-form {
  position: absolute;
  right: 120px;
  top: 310px;
  width: 300px;
  background-color: #fafafa;
  font-size: 24px;
  text-align: center;
}

#child-container {
  margin: 0;
  background-color: black;
}

.reviews {
width: 70%;
background-color: black;
}
