.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

#map {
  border-radius: 10px;
  margin-top: 25px;
  margin-bottom: 25px;
}

#map-show {

}

